<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <div class="db">
    <h1 class="h2">
      <mat-icon
        aria-hidden="false"
        aria-label="Example group icon"
        fontIcon="group"
      ></mat-icon>
      Clients
    </h1>
  </div>

  <div>
    <button type="button" class="btn btn-primary" (click)="openDialog()">
      <mat-icon
        aria-hidden="false"
        aria-label="Example add icon"
        fontIcon="add"
      ></mat-icon>
      New
    </button>
    <button type="button" class="btn btn-primary ms-2" disabled>
      <mat-icon
        aria-hidden="false"
        aria-label="Example upgrade icon"
        fontIcon="upgrade"
      ></mat-icon
      >Export
    </button>
  </div>
</div>

<div class="row mb-3">
  <div class="col-3">
    <app-search-client
      (foundClients)="foundClients($event)"
    ></app-search-client>
  </div>

  <div class="col-9">
    <button class="btn btn-primary" (click)="toggleAdvanceSearch()">
      Advance Search
    </button>
  </div>

  <div class="col-4" *ngIf="showAdvanceSearch">
    <app-advance-search-client
      (foundClients)="foundClients($event)"
    ></app-advance-search-client>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Shared Key</th>
        <th>Business ID</th>
        <th>E-mail</th>
        <th>Phone</th>
        <th>Data Added</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td>{{ client.sharedKey }}</td>
        <td>{{ client.name }}</td>
        <td>{{ client.email }}</td>
        <td>{{ client.phone }}</td>
        <td>{{ client.dataAdded }}</td>
        <td>
          <mat-icon
            aria-hidden="false"
            aria-label="Example edit icon"
            fontIcon="edit"
          ></mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>
